<!DOCTYPE html>
<html>
<head>
  <title> Main </title>
  <link rel="stylesheet" href="/css/ciphers.css" />
</head>
<body>
  <!--    //Register messages
  {{#if success_msg}}
    <div class="alert-success">{{success_msg}}</div>
  {{/if}}

  {{#if error_msg}}
    <div class="alert">{{error_msg}}</div>
  {{/if}}

  {{#if error}}
    <div class="alert">{{error}}</div>
  {{/if}}
-->
  {{{body}}}
</body>
</html>
