
    <div class="cos">

    <div class="about">
      <h1 id="ciphers_font">About Crypto for fun</h1>
      <p id="pic"><img src="images/about.jpg"></p><br>
      <p><span id="bold">Crypto for fun</span> is a project born in February 2019 as a coursework for Web Technologies (set08101) at
      the Napier University of Edinburgh. </p>
      <p>The project consisted originally in the development of a web site which could offer several different classical ciphers to its
        users written in JavaScript and presented as an HTML page styled with CSS.</p><br>

      <p id="source">
    </div>
    <br><br>


    <div class="about">
      <h3 id="about_us">Contact details</h3>
      <p>Xavier Sala<br>
        40290125@live.napier.ac.uk</p>
    </div><br><br>
    <br><br>
  </div>
  </body>
