
  <body>

    <div class="cos">
    <h1 id="ciphers_font">Dashboard </h1>
    <div class="about">
      <p id="pic"><img src="images/rot13.png" width="330" height="auto"></p>
      <div id="about_cipher">
        <p>Send encrypted messages to other users!</p>
        </div>
    </div>
    
    <br><br><br>

    <div class="container">

        <label>Your message</label><br>
        <textarea id="message" placeholder="Type something..."></textarea><br>
        <input type="button" value="Encode/Decode" onclick ="encode()"><br><br><br>

        <label>Encoded or decoded message</label><br>
        <textarea id="output" readonly></textarea>

    </div>
  </div>
    <script type ="text/javascript" src ="scripts/rot13.js"></script>
  </body><br><br>
