
<div class="cos">
<h1 id="ciphers_font">Inbox </h1>
<div class="about">
  <p id="pic"><img src="../../images/messages.png" width="300" height="auto"></p>
  <div id="about_cipher">
    <p>Here you can check your messages!</p>
    </div>
    <br><br>
</div>
<div id="messages"></div><br>

{{{messages_raw}}}
<!--
<script type ="text/javascript" src ="../scripts/babel.js"></script> -->

<br><br><br><br>
