
    <div class="cos">

    <form method="post" action="/users/login">
      <div class="container">
          <h2>Login to your account</h2>
          <label>Username</label><br>
          <input type="text" class="form-control" name="username" placeholder="Username"><br><br>
          <label>Password</label><br>
          <input type="password" class="form-control" name="password" placeholder="Password"><br><br>
          <input type="submit" value="Submit"><br><br>
      </div>
    </form>
  </div>
</body><br><br>
