<div class="container">


  Choose one of the encryption methods from the available choices below:</p><br>
    <input type="button" value="Caesar" onclick="location.href = '/dashboard/ciphers/caesar';">
    <input type="button" value="ROT13" onclick="location.href = '/dashboard/ciphers/rot13';">
    <input type="button" value="Substitution" onclick="location.href = '/dashboard/ciphers/substitution';">
    <input type="button" value="Baconian" onclick="location.href = '/dashboard/ciphers/bacon';">
    <br><br>
</div><br><br>
