<!DOCTYPE html>
<html>
  <head>
    <link rel ="stylesheet" type ="text/css" href ="css/ciphers.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
    <title> Register </title>
  </head>

    <header>
      <h1>Crypto for fun</h1>
      <h4>Classical Cipher Encoders</h4>
    </header><br>


  <body>

    <div class="navbar">
      <a href="../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbutton">Ciphers</button>
        <div class="dropdown-content">
          <a href="../caesar.html">Caesar Cipher</a>
          <a href="../rot13.html">ROT13</a>
          <a href="../substitution.html">Substitution Cipher</a>
          <a href="../bacon.html">Baconian Cipher</a>
        </div>
      </div>
      <a href="../about.html">About us</a>
      <a href="login">Login</a>
      <a href="#">Register</a>
    </div><br><br>

    <div class="cos">

    <form method="post" action="/users/register">
      <div class="container">
          <h2>Register a new account</h2>

          {{#if errors}}
                {{#each errors}}
                <div class="alert">{{msg}}</div>
                {{/each}}
          {{/if}}
          <br><br>
          <label>Name</label><br>
          <input type="text" class="form-control" placeholder="Name" name="name"><br><br>
          <label>Username</label><br>
          <input type="text" class="form-control" placeholder="Username" name="username"><br><br>
          <label>Email</label><br>
          <input type="text" class="form-control" placeholder="Email" name="email"><br><br>
          <label>Password</label><br>
          <input type="password" class="form-control" placeholder="Password" name="password"><br><br>
          <label>Retype your password</label><br>
          <input type="password" class="form-control" placeholder="Password2" name="password2"><br><br>
          <input type="submit" value="Submit"><br><br>
      </div>
    </form>
  </div>
</body><br><br>

  <footer>
    <p>set08101 - Web Technologies<br>
    February 2019</p>
  </footer>

</htmL>
