<div class="container">
  <form method="post" action="/dashboard/caesar" id="caesar">
    <input type="hidden" name="cipher" value="caesar">
    <label>To:</label><br>
    <input id="to_user" class="form-control" placeholder="Username" name="to_user"></input><br><br>

        <label>Your message</label><br>
        <textarea id="message" placeholder="Type something..."></textarea><br>

        <label>Shift</label>
        <select id="shift" name="param" form="caesar">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>

        </select><br><br>

        <input type="button" value="Encode" onclick ="encode()"> <input type="button" value="Decode" onclick ="decode()"><br><br><br>

        <label id="output_name">Encoded or decoded message</label><br>
        <textarea id="output" readonly class="form-control" name="message_ciphered" form="caesar"></textarea><br>
        <input type="submit" value="Send"><br><br>
      </form>
    </div>


    <script type ="text/javascript" src ="../../scripts/caesar.js"></script>
  </div>
  </body><br><br>
